<h1> Add a new board </h1>

<form action="/boards" method="post">
  <input id="name" name="board_name" class="form-control" type="text" placeholder="Board Name">
  <br>
  <button type="submit" class="btn btn-sucess">Add Board!</button>
</form>

<a href="/">Home</a>